<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0" />
    <title>{% block title %}{% endblock %} - PhotoHack TOL</title>
    <link href="//netdna.bootstrapcdn.com/bootswatch/3.1.1/flatly/bootstrap.min.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
  </head>
  <body>
    <div class="page">
        <nav class="header" role="navigation">
          <ul class="nav navbar-nav navbar-left">
             <!-- 
                <li {% if page == "home" %} class="active" {% endif %}><a href="/">Home</a></li>
             -->
             <li class="logo"></li>
             <li><a href="/" id="loginlink">User Login</a></li>
             <li><a href="/employer">Employer</a></li>
          </ul>
        </nav>
        <div class="container-fluid">
          {% if flash.error %}
            <div class="alert alert-danger">{{ flash.error }}</div>
          {% endif %}
          {% if flash.success %}
            <div class="alert alert-success">{{ flash.success }}</div>
          {% endif %}
          {% block content %}{% endblock %}
         </div>
        <div class="footer text-center domfooter">
          <small>&copy;2014 Totally OutLandish</small>
        </div>
        <script src="js/whammy.min.js"></script>
        <script src="js/record.js"></script>
    </div>
  </body>
</html>
