{% extends "base.html" %}
{% block title %}Set up your Video Resume{% endblock %}
{% block pagecontainerclass %}formpage{% endblock %}
{% block content %}

<script>
$(document).ready(function(){
    $.get("http://ipinfo.io", function(response) {
         $('#location').val(response.city).css({"color":"#a2a2a2","font-style":"italic"});
    }, "jsonp");
    $('#location').focus(function() {
      $(this).css({"color":"#000","font-style":"normal"});
    }); 
});
</script>
<div class="homemsg">
    <p class="lead">TELL ME ABOUT YOURSELF?</p>
    <p>This information will be used by employers looking for candidates</p><br />
    
    <form action="/video" method="post" name="resumeform">
        <label>Full Name <span class="req">(will display on your video resume)<span></label>
        <input type="text" name="fname" value="" />
        <label>Desired Job Title <span class="req">(will display on your video resume)<span></label>
        <input type="text" name="title" value="" />
        <label>Location</label>
        <input type="text" name="location" id="location" value="" />
        <label>Training / Education</label>
        <input type="text" name="edu" value="" />
        <label>Employer<span>Years of Experience</span></label>
        <input type="text" name="employer" value="" class="shrt" />
        <select id="years" name="years">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15+</option>
        </select>
        <label>Awards</label>
        <input type="text" name="awards" value="" class="shrt" />
        <label>Any additional comments</label>
        <textarea name="comments"></textarea>
    </form>
    <a href="/video" class="strtvid">Start Video</a>
</div>
<br />
{% endblock %}
