{% extends "base.html" %}
{% block title %}Enter your information{% endblock %}
{% block pagecontainerclass %}formpage{% endblock %}
{% block content %}

<script>
$(document).ready(function(){
    $('.strtvid').on('click',function(event){
        event.preventDefault();
        $( "#resumeform" ).submit();
    })
    
});
</script>
<div class="homemsg">
    <p class="lead">ENTER YOUR NAME(s)</p>
    <p>This information will be saved to the bride & groom's wedding video.</p><br />
    
    <form action="/video" method="post" name="resumeform" id="resumeform">
        <label>Your Names</label>
        <input type="" value="" name="names" />
        <label>Short Message</label>
        <textarea name="message"></textarea>
    </form>
    <a href="/video" class="strtvid">Start Video</a>
</div>
<br />
{% endblock %}
