{% extends "base.html" %}
{% block title %}Share Your Video{% endblock %}
{% block pagecontainerclass %}sharepage{% endblock %}
{% block content %}
<div class="homemsg">
    <p class="lead">YOUR VEHICLE IS ALMOST SOLD!</p>
    <p>You have created your video, now you just need to share. Where would you like to share it?</p><br />  
    <a id="youtube" class="share youtube"></a>
    <a class="share linked share-disabled"></a>
    <a class="share facebook share-disabled"></a>
    <a class="share gplus share-disabled"></a>
    <div id="youtubeLink"></div>
</div>
<br />
{% endblock %}
