{% extends "base.html" %}
{% block title %}Share Your Video{% endblock %}
{% block pagecontainerclass %}sharepage{% endblock %}
{% block content %}
<div class="homemsg">
    <p>THE JOB IS ALMOST YOURS</p>
    <p>You have created your video, now you just need to share. Where would you like to share it?</p><br />
    <p>Share:</p><br />
    
    <a href="/youtube" class="share youtube"></a>
    <a href="/linked" class="share linked"></a>
    <a href="/facebook" class="share facebook"></a>
    <a href="/gplus" class="share gplus"></a>
</div>
<br />
{% endblock %}
