{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="homemsg">
  <video id="webcam" autoplay muted></video>
  <div id="video-controls" class="btn-group">
    <button type="button" id="record-me" class="btn btn-danger btn-lg" disabled><span class="glyphicon glyphicon-stop"></span> Record</button>
    <button type="button" id="stop-me" class="btn btn-info btn-lg" disabled><span class="glyphicon glyphicon-stop"></span> Stop</button>
  </div>
  <div id="video-preview"></div>
</div>
{% endblock %}
