#videoContainer {
  position: relative;
}
.navbar-nav>li>a,.navbar-nav>li>a:hover{
    padding:0;
    margin:25px 20px 0 0;
    display:inline-block;
    width:auto;
    height:30;
    background:#727272;
    padding:4px 15px;
    box-sizing:border-box;
    color:#fff;
    font-size:17px;
}
.header{
    width:100%;
    background:#fff;
    height:110px;
    border-bottom:solid 3px #a2a2a2;
    min-width:1024px;
}
.navbar-nav>li.logo{
    display:inline-block;
    background:transparent url('../img/recruitme-logo.png') 0 0 no-repeat;
    width:507px;
    height:87px;
    margin:10px 100px 0 10px;
}
body{
    background:#dddddd;
}
.page,.formpage,.sharepage{
    text-align:center;
    margin:0 auto;
    height:auto;
    min-width:1024px;
    position:relative;
    min-height:860px;
}
.page{
    background:transparent url('../img/RecruitMe-homepage-background.jpg') 0 0 no-repeat;
    background-repeat:no-repeat;
    background-size:cover;
}
.formpage{
    background:transparent url('../img/RecruitMe-formPage-background.jpg') 0 0 no-repeat;
    background-repeat:no-repeat;
    background-size:cover;
}
.sharepage{
    background:transparent url('../img/RecruitMe-SharePage-background.jpg') 0 0 no-repeat;
    background-repeat:no-repeat;
    background-size:cover;
}


.header ul{
    margin:0;
    padding:0;
    min-width:1024px;
}
.header ul li{
    margin:0;
    padding:0;
    display:inline-block;
    height:80px;
}
.domfooter{
    clear:both;
    width:100%;
    background:#fff;
    height:30px;
    border-top:solid 3px #a2a2a2;
    min-width:1024px;
    position:absolute;
    bottom:0;
}
.homemsg{
    width:30%;
    height:auto;
    border-radius:10px;
    background:#fff;
    text-align:left;
    margin:50px 0 50px 5%;
    box-sizing:border-box;
    padding:20px;
    opacity:.80;
    background: rgba(255,255,255,0.8);
    font-size:18px;
    min-width:500px;
    box-shadow: 4px 4px 20px #888888;
}
div.homemsg p:first-child{
    color:#696767;
    font-weight:700;
    font-size:25px;
}
div.homemsg  a, div.homemsg  a:hover{
    display:inline-block;
    background:#00c50d;
    color:#fff;
    padding:4px 15px;
    text-decoration:none;
    font-size:15px;
    margin:0 0 0 35%;
}
div.homemsg  a.strtvid, div.homemsg  a.strtvid:hover{
    margin:20px 0 0 65%;
}
div.homemsg  a.share, div.homemsg  a.share:hover{
    display:inline-block;
    padding:0;
    text-decoration:none;
    width:99px;
    height:101px;
    margin:0 10px 0 0;
}
div.homemsg  a.facebook, div.homemsg  a.facebook:hover{
    background:transparent url('../img/facebook.png') 0 0 no-repeat;
}
div.homemsg  a.youtube, div.homemsg  a.youtube:hover{
    background:transparent url('../img/youtube.png') 0 0 no-repeat;
}
div.homemsg  a.linked, div.homemsg  a.linked:hover{
    background:transparent url('../img/linkedin.png') 0 0 no-repeat;
}
div.homemsg  a.gplus, div.gplus  a.linked:hover{
    background:transparent url('../img/gplus.png') 0 0 no-repeat;
}
.homemsg form{
    font-size:17px;
}
.homemsg form label{
    display:block;
    width:90%;
}
.homemsg form label span{
    float:right;
}
.homemsg form label span.req{
    float:none;
    font-size:13px;
}
.homemsg form input{
    width:90%;
    height:30px;
    margin:0 0 20px 0;
    background: rgba(255,255,255,1);
}
.homemsg form textarea{
    width:90%;
    height:120px;
}
.homemsg form input.shrt{
    width:50%;
    margin-right:60px;
}
.homemsg form select{
    width:20%;
    height:30px;
    margin:0 0 20px 0;
    background: rgba(255,255,255,1);
}
